In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('mlbootcamp5_train.csv', sep=',', 
                 index_col='id')

In [3]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [4]:
df[df['gender'] == 1]['height'].mean()

161.35561168460356

In [5]:
df[df['gender'] == 2]['height'].mean()

169.94789538210054

In [6]:
df[df['gender'] == 2]['gender'].count()

24470

In [7]:
df[df['gender'] == 1]['gender'].count()

45530

In [8]:
df[(df['gender'] == 1) & (df['alco'] == 1)]['alco'].count()

1161

In [9]:
df[(df['gender'] == 2) & (df['alco'] == 1)]['alco'].count()

2603

In [10]:
s_w = df[(df['gender'] == 1) & (df['smoke'] == 1)]['smoke'].count()/df[df['gender'] == 1]['gender'].count() * 100
s_m = df[(df['gender'] == 2) & (df['smoke'] == 1)]['smoke'].count()/df[df['gender'] == 2]['gender'].count()* 100
print(round(s_m / s_w,0))

12.0

In [11]:
df['age_years'] = round(df['age']/365, 0)
df[df['smoke'] == 0]['age_years'].mean()

53.43939465150162

In [12]:
df[df['smoke'] == 1]['age_years'].mean()

52.29664451288701

In [13]:
print(round((df[df['smoke'] == 0]['age_years'].median()*12 - df[df['smoke'] == 1]['age_years'].median() *12)))

24

In [14]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years
id,,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0,50.0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1,55.0
2,18857,1,165,64.0,130,70,3,1,0,0,0,1,52.0
3,17623,2,169,82.0,150,100,1,1,0,0,1,1,48.0
4,17474,1,156,56.0,100,60,1,1,0,0,0,0,48.0

In [17]:

v1 = df[(df['gender'] == 2) & (df['age_years'] >= 60) & (df['age_years'] <= 64) & (df['smoke'] == 1) & (df['ap_hi'] < 120) & (df['cholesterol'] == 1)]['cardio']
v2 = df[(df['gender'] == 2) & (df['age_years'] >= 60) & (df['age_years'] <= 64) & (df['smoke'] == 1) &(df['ap_hi'] >= 160) & (df['ap_hi'] < 180) & (df['cholesterol'] == 1)] ['cardio']
print(round((100 * v2.mean()) / (100* v1.mean())))

3.0

In [18]:
print(v1)
print(v2)

id
1951     0
2415     0
3082     1
3112     0
3262     0
3658     1
4479     0
4955     0
5513     0
5682     0
6690     1
8189     0
11502    0
11663    1
12014    0
12899    0
15432    0
17237    0
20096    0
21136    0
22408    0
25683    0
30753    0
31907    0
33928    1
35226    1
36862    0
37027    1
37170    1
37671    0
        ..
62830    1
64017    0
66653    0
68223    0
69138    0
69713    0
71312    0
72320    0
72572    0
73233    0
73664    0
73826    0
75204    1
75531    0
75716    0
76361    1
77228    0
80809    0
80823    0
80829    1
81336    1
83740    1
86034    0
89957    0
90921    0
92675    0
94576    1
94619    0
95586    0
96920    1
Name: cardio, Length: 78, dtype: int64
id
986      1
3799     0
6502     1
8616     1
12687    1
13369    1
14998    1
15351    1
17786    1
19346    1
20177    1
21400    0
22167    1
25205    1
25894    1
27161    1
28705    1
32437    1
33390    1
33581    1
35594    1
36872    1
37951    1
44508    0
46382    1
47137    1
47351    1
48275    1
48689    1
49837    1
52262    0
53149    1
56629    1
58470    1
61116    1
66054    1
71235    1
73210    1
75811    1
76552    1
77170    1
80190    0
80639    1
83560    1
83566    1
88764    1
Name: cardio, dtype: int64

In [16]:
df['height_m'] = (df['height']/100)**2
df['BMI'] = (df['weight'])/(df['height_m'])
print ('Медианное значение BMI', round(df['BMI'].median(),2))

Медианное значение BMI 26.37

In [39]:
print('Среднее значение BMI женщин :', round(df[df['gender'] == 1]['BMI'].mean(),2))
print('Среднее значение BMI мужчин :', round(df[df['gender'] == 2]['BMI'].mean(),2))

Среднее значение BMI женщин : 27.99
Среднее значение BMI мужчин : 26.75

In [42]:
print('BMI здоровых', df[df['cardio'] == 0] ['BMI'].mean())
print('BMI больных', df[df['cardio'] == 1] ['BMI'].mean())

BMI здоровых 26.5481752067945
BMI больных 28.56606062701535

In [46]:
print('BMI здоровых и непьющих мужчин :', 
      round(df[(df['gender'] == 2) & (df['alco'] == 0) & (df['cardio'] == 0)]['BMI']. mean(),2))
print('BMI здоровых и непьющих женщин :',
      round(df[(df['gender'] == 1) & (df['alco'] == 0) & (df['cardio'] == 0)]['BMI']. mean(),2))

BMI здоровых и непьющих мужчин : 25.87
BMI здоровых и непьющих женщин : 26.85

In [58]:
new_df = df[(df['ap_hi'] >=  df['ap_lo']) & (df['height'] >= df['height'].quantile(0.025)) & (df['height'] <= df['height'].quantile(0.975)) 
           & (df['weight'] >= df['weight'].quantile(0.025)) & (df['weight'] <= df['weight'].quantile(0.975))] ['BMI'].count()
first_df = df['BMI'].count()
s = round( new_df/ first_df *100, 0)
print(100-s)

10.0